<div class='header'>
  <div class="container">
    <div class="logo">
      <a href="{{ site.baseurl }}" class="logo-text">
        <span class="butterfly">🦋</span>
        <span>{{ site.title }}</span>
        <span class="butterfly">🦋</span>
      </a>
    </div>
    <div class="logo-mobile">
      <a href="{{ site.baseurl }}" class="logo-text">
        <span class="butterfly">🦋</span>
        <span>{{ site.title }}</span>
        <span class="butterfly">🦋</span>
      </a>
    </div>
    {% include main-menu.html %}
    {% include hamburger.html %}
  </div>
</div>
